#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE  0
#define UPPER 1
#define LOWER 2
#define SYS   3

/* Make layer-taps resolve like the home-row mod-taps below. */
&lt {
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <125>;
};

/ {
    behaviors {
        mouse_move_horizontal: mouse_move_horizontal {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&mmv MOVE_LEFT>, <&mmv MOVE_RIGHT>;
        };

        mouse_move_vertical: mouse_move_vertical {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&mmv MOVE_DOWN>, <&mmv MOVE_UP>;
        };

        mouse_scroll_horizontal: mouse_scroll_horizontal {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
        };

        mouse_scroll_vertical: mouse_scroll_vertical {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };

        hm: home_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            sensor-bindings = <&mouse_move_horizontal>,
                              <&mouse_move_vertical>;

            bindings = <
                &kp ESC       &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp BSPC
                &kp TAB       &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMICOLON &kp ENTER
                &kp LSHIFT    &hm LCTRL Z  &hm LALT X  &hm LGUI C  &lt LOWER V   &lt UPPER B   &lt UPPER N   &lt LOWER M   &hm LGUI COMMA &hm LALT DOT &hm LCTRL SLASH &kp RSHIFT
                &kp SPACE
            >;
        };

        upper {
            sensor-bindings = <&mouse_scroll_horizontal>,
                              <&mouse_scroll_vertical>;

            bindings = <
                &none         &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp DELETE
                &none         &kp GRAVE   &mkp LCLK   &mkp MCLK   &mkp RCLK   &none       &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp APOSTROPHE &none
                &trans        &hm LCTRL BACKSLASH &kp LALT &kp LGUI &none     &none       &none       &kp MINUS   &hm LGUI EQUAL &hm LALT LBKT &hm LCTRL RBKT &trans
                &kp K_APP
            >;
        };

        lower {
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>,
                              <&inc_dec_kp C_VOL_UP C_VOL_DN>;

            bindings = <
                &to SYS       &kp F1      &kp F2      &kp F3      &kp F4      &none       &kp INSERT  &kp PRINTSCREEN &kp SCROLLLOCK &kp PAUSE_BREAK &kp C_VOL_UP &none
                &none         &kp F5      &kp F6      &kp F7      &kp F8      &none       &kp HOME    &kp PAGE_DOWN &kp PAGE_UP &kp END     &kp C_VOL_DN &none
                &trans        &hm LCTRL F9 &hm LALT F10 &hm LGUI F11 &kp F12   &none       &none       &kp C_PAUSE &hm LGUI C_PREV &hm LALT C_NEXT &hm LCTRL C_MUTE &trans
                &none
            >;
        };

        sys {
            bindings = <
                &to BASE &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR &none &none &none &none &bootloader
                &none &out OUT_BLE &out OUT_USB &none &none &none &none &none &none &none &none &none
                &sys_reset &none &none &none &none &none &none &none &none &none &none &none
                &none
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps_lock_combo {
            timeout-ms = <50>;
            key-positions = <24 35>;
            layers = <BASE>;
            bindings = <&kp CAPSLOCK>;
        };
    };
};
